{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-center align-items-center full-height">
    <div class="card p-4 login-card">
        <h2 class="text-center">Login</h2>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {{ form.email(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.password.label(class="form-control-label") }}
                {{ form.password(class="form-control") }}
            </div>
            <div class="form-group form-check">
                {{ form.remember(class="form-check-input") }}
                {{ form.remember.label(class="form-check-label") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary btn-block") }}
            </div>
        </form>
        <p class="text-center mt-3">New to Forum? <a href="{{ url_for('main.register') }}">Sign up</a></p>
    </div>
    <div class="background-overlay"></div>
    <div class="background-posts">
        <div class="blurred-content">
            {% include 'posts.html' %}
        </div>
    </div>
</div>
{% endblock content %}
